@{
	string token = Context.Session.GetString("token");
}
@if (token != "" && token != null)
{
	<table class="table table-bordered mt-3">
		<input type="text" placeholder="Search by name..." onchange="search(this.value, 'Name')" />
		<thead class="thead-light">
			<tr>
				<th>Id</th>
				<th>
					Quiz Name
				</th>

			</tr>
		</thead>
		<tbody id="quiz-list">
			<tr>
			</tr>
		</tbody>
	</table>
} else
{
	<h1>Please <a href="/Auth/Login" style="text-decoration: none">Login</a> to using.</h1>
}

<style>
	form {
		margin: 20px;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	input[type="text"] {
		padding: 8px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		width: 100%;
		box-sizing: border-box;
	}

	input[type="date"] {
		padding: 8px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		width: 100%;
		box-sizing: border-box;
	}

	select {
		padding: 8px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		width: 100%;
		box-sizing: border-box;
	}

	input[type="submit"] {
		background-color: #008CBA;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 16px;
	}

	input[type="button"] {
		background-color: #008CBA;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 16px;
	}

	input[type="submit"]:hover {
		background-color: #006E9D;
	}
</style>

