USE [EnglishQuizSystem]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NULL,
	[text] [ntext] NULL,
	[is_correct] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NULL,
	[text] [ntext] NULL,
	[active] [bit] NULL,
	[type] [bit] NULL,
	[difficulty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[code_active] [varchar](100) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_answer]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_answer](
	[user_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[answer_id] [int] NOT NULL,
	[quiz_id] [int] NOT NULL,
 CONSTRAINT [user_answer_pk] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[question_id] ASC,
	[answer_id] ASC,
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_quiz]    Script Date: 6/19/2023 12:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_quiz](
	[user_id] [int] NOT NULL,
	[quiz_id] [int] NOT NULL,
	[score] [float] NULL,
 CONSTRAINT [user_topic_pk] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[answer] ON 
GO
INSERT [dbo].[answer] ([id], [question_id], [text], [is_correct]) VALUES (1, 1, N'enjoy', 0)
GO
INSERT [dbo].[answer] ([id], [question_id], [text], [is_correct]) VALUES (2, 1, N'years', 0)
GO
INSERT [dbo].[answer] ([id], [question_id], [text], [is_correct]) VALUES (3, 1, N'motorcycles', 0)
GO
SET IDENTITY_INSERT [dbo].[answer] OFF
GO
SET IDENTITY_INSERT [dbo].[question] ON 
GO
INSERT [dbo].[question] ([id], [quiz_id], [text], [active], [type], [difficulty]) VALUES (1, 1, N'Which underlined word has a mistake?
We enjoy riding motorcycles. Modern motorcycles are lighter and faster than they was 30 years ago.', 1, 1, 1)
GO
INSERT [dbo].[question] ([id], [quiz_id], [text], [active], [type], [difficulty]) VALUES (2, 1, N'Which underlined word has a mistake?
My mother was mad at me because I had told her I would be home at 6:00, but I come home at 9:00.', 1, 0, 1)
GO
INSERT [dbo].[question] ([id], [quiz_id], [text], [active], [type], [difficulty]) VALUES (3, 1, N'What is the past tense of the verb "run"?', 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[question] OFF
GO
SET IDENTITY_INSERT [dbo].[quiz] ON 
GO
INSERT [dbo].[quiz] ([id], [name], [code_active], [active]) VALUES (1, N'ENW492c QuizBet', N'123456', 1)
GO
SET IDENTITY_INSERT [dbo].[quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 
GO
INSERT [dbo].[role] ([id], [name]) VALUES (1, N'USER')
GO
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'ADMIN')
GO
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'LECTURE')
GO
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 
GO
INSERT [dbo].[user] ([id], [user_name], [password], [role_id]) VALUES (0, N'Letha241', N'123', 1)
GO
INSERT [dbo].[user] ([id], [user_name], [password], [role_id]) VALUES (1, N'admin', N'123', 2)
GO
INSERT [dbo].[user] ([id], [user_name], [password], [role_id]) VALUES (2, N'thangnd', N'123', 1)
GO
SET IDENTITY_INSERT [dbo].[user] OFF
GO
INSERT [dbo].[user_answer] ([user_id], [question_id], [answer_id], [quiz_id]) VALUES (1, 1, 4, 1)
GO
INSERT [dbo].[user_answer] ([user_id], [question_id], [answer_id], [quiz_id]) VALUES (1, 2, 6, 1)
GO
INSERT [dbo].[user_answer] ([user_id], [question_id], [answer_id], [quiz_id]) VALUES (1, 2, 7, 1)
GO
INSERT [dbo].[user_quiz] ([user_id], [quiz_id], [score]) VALUES (1, 1, 6)
GO
INSERT [dbo].[user_quiz] ([user_id], [quiz_id], [score]) VALUES (7, 1, 8)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__7C9273C469183D65]    Script Date: 6/19/2023 12:31:07 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[answer]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quiz] ([id])
GO
ALTER TABLE [dbo].[user]  WITH NOCHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user_answer]  WITH CHECK ADD FOREIGN KEY([answer_id])
REFERENCES [dbo].[answer] ([id])
GO
ALTER TABLE [dbo].[user_answer]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
ALTER TABLE [dbo].[user_answer]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quiz] ([id])
GO
ALTER TABLE [dbo].[user_answer]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[user_quiz]  WITH CHECK ADD FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quiz] ([id])
GO
ALTER TABLE [dbo].[user_quiz]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
