<style>
	body {
		background-color: #f2f2f2;
		font-family: Arial, Helvetica, sans-serif;
	}

	form {
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		padding: 20px;
		width: 400px;
		margin: 50px auto;
	}

	h2 {
		text-align: center;
		color: #333;
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}

	button {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		width: 100%;
	}

		button:hover {
			background-color: #45a049;
		}

	.error {
		color: red;
		font-size: 0.8em;
		margin-top: 5px;
	}
</style>

<form asp-action="Register" asp-controller="Auth" method="post">
	<h2>English Quiz System Register</h2>

	<label>UserName:</label>
	<input type="text" required>

	<label>Password:</label>
	<input type="password" id="password" required>

	<label>Confirm password:</label>
	<input type="password" id="cf_password" required>

	<button type="submit">Register</button>
	<a href="/Auth/Login">Login</a>
	<div class="error"></div>
</form>